{% extends 'base.html' %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 

<div class="card">
  <div class="card-header">
    VISAGOV
  </div>
  <div class="card-body">
    <h1 class="card-title">Nosotros</h1>
    <p class="card-text">Proporcionamos la tramitación de visados para todos los viajeros, así como para las agencias de viajes y los proveedores de turismo. Gracias a nuestro sistema, las agencias de viajes y los proveedores pueden subir todos los detalles en masa y nosotros nos encargamos de todo el procedimiento.

      Olvídese de los estresantes y largos tratos con gobiernos extranjeros y evite burocracia complicada.</p>
  </div>
</div>

{% endblock %}